<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClicker.Properties.AutoClickerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoClicker.HotkeySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoClicker.AutoClickerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AutoClicker.Properties.AutoClickerSettings>
      <setting name="ActionMode" serializeAs="String">
        <value>Click</value>
      </setting>
      <setting name="ClickLocationMode" serializeAs="String">
        <value>CurrentLocation</value>
      </setting>
      <setting name="DragLocationMode" serializeAs="String">
        <value>CurrentLocation</value>
      </setting>
      <setting name="DropLocationMode" serializeAs="String">
        <value>CurrentLocation</value>
      </setting>
      <setting name="PickedClickPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PickedDragPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PickedDropPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Hours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Minutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Seconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Milliseconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedMouseButton" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="SelectedMouseAction" serializeAs="String">
        <value>Single</value>
      </setting>
      <setting name="SelectedRepeatMode" serializeAs="String">
        <value>Infinite</value>
      </setting>
      <setting name="SelectedTimesToRepeat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DragDropSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DragDropMotionMode" serializeAs="String">
        <value>ConstantTime</value>
      </setting>
      <setting name="DragDropTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DragDropAcceleration" serializeAs="String">
        <value>0</value>
      </setting>
    </AutoClicker.Properties.AutoClickerSettings>
    <AutoClicker.HotkeySettings>
      <setting name="StartHotkey" serializeAs="String">
        <value>117</value>
      </setting>
      <setting name="StopHotkey" serializeAs="String">
        <value>118</value>
      </setting>
      <setting name="ToggleHotkey" serializeAs="String">
        <value>119</value>
      </setting>
    </AutoClicker.HotkeySettings>
    <AutoClicker.AutoClickerSettings>
      <setting name="ActionMode" serializeAs="String">
        <value>Click</value>
      </setting>
      <setting name="ClickLocationMode" serializeAs="String">
        <value>CurrentLocation</value>
      </setting>
      <setting name="DragLocationMode" serializeAs="String">
        <value>CurrentLocation</value>
      </setting>
      <setting name="DropLocationMode" serializeAs="String">
        <value>CurrentLocation</value>
      </setting>
      <setting name="PickedClickPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PickedDragPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PickedDropPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Hours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Minutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Seconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Milliseconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedMouseButton" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="SelectedMouseAction" serializeAs="String">
        <value>Single</value>
      </setting>
      <setting name="SelectedRepeatMode" serializeAs="String">
        <value>Infinite</value>
      </setting>
      <setting name="SelectedTimesToRepeat" serializeAs="String">
        <value>0</value>
      </setting>
    </AutoClicker.AutoClickerSettings>
  </userSettings>
</configuration>
